.list-unstyled, .app-nav, .app-menu, .treeview-menu {
  padding-left: 0;
  list-style: none;
}
/* Mobile View Slice Btn*/
.slice-btn{
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 15px;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: 0 0;
  outline: 0 !important;
  width: 26px;
  height: 26px;
  transition: all .4s ease;
  top: 2px;
}
.slice-btn i {
  background: #4e4c5f;
}
.slice-btn i {
  display: block;
  position: absolute;
  top: 12px;
  height: 2px;
  min-height: 2px;
  width: 100%;
  transition: all .4s ease;
}
.slice-btn i::after, .slice-btn i::before {
  background: #4e4c5f;
}
.slice-btn i::after {
  transition: all .4s ease;
  left: auto;
  right: 0;
  width: 75%;
}
.slice-btn i::after {
  bottom: -8px;
}
.slice-btn i::after, .slice-btn i::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  min-height: 2px;
  content: "";
  transition: all .4s ease;
}
.slice-btn i::after, .slice-btn i::before {
  transition: all .4s ease;
  left: auto;
  right: 0;
  width: 50%;
}
.slice-btn i::before {
  top: -8px;
}
.slice-btn i::before {
  transition: all .4s ease;
  left: auto;
  right: 0;
  width: 50%;
}
.slice-btn:hover i::after, .slice-btn:hover i::before{
  width: 100%;
  transition: all .4s ease;
  background: #00d6ad;
}
.slice-btn:hover i {
  background: #00d6ad;
}
.left_sidebar_visible .slice-btn i::before {
  transition: all .4s ease;
  left: 0;
  right: auto;
  width: 50%;
}
.left_sidebar_visible .slice-btn i::after  {
  transition: all .4s ease;
  left: 0;
  right: auto;
  width: 75%;
}
/* Mobile View Slice Btn Closed*/
/*----- Componant: Top Navigation Bar ----- */
/* header animation */
.sidebar-mini .app-header {
  width: calc(100% - 299px);
  margin-left: inherit;
  left: auto;
}
.sidebar-mini.sidenav-toggled .app-header {
  width: calc(100% - 85px);
}
.app-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  z-index: 1030;
  padding-right: 28px;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: left 0.3s ease, width 0.3s ease;
  -o-transition: left 0.3s ease, width 0.3s ease;
  transition: left 0.5s ease, width 0.5s ease;
  margin-left: 299px;
  border-bottom: 1px solid #ecedf0;
}
.app.sidenav-toggled .app-content {
  margin-left: 0;
}
.app.sidenav-toggled .app-sidebar {
  left: -230px;
}
.app.sidenav-toggled .app-sidebar__overlay {
  visibility: hidden;
}
.app-header .app_header_block {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s ease, width 0.5s ease;
}
.app.sidenav-toggled .app-header__logo .small_logo {
  display: block;
  width: 28px;
}
.app.sidenav-toggled .app-header__logo .sidebar_logo_img {
  display: none;
}
.app-content {
  margin-left: 299px;
}
.app-header__logo:focus, .app-header__logo:hover {
  text-decoration: none;
  color: #fff;
}
.app-sidebar__toggle {
  padding: 0;
  font-family: fontAwesome;
  color: #fff;
  line-height: 2.4;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.app-sidebar__toggle:before {
  content: "\f0c9";
  font-size: 21px;
  display: none;
}
.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}
.app-nav__item {
  display: block;
  padding: 0 15px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.app-nav__item:hover, .app-nav__item:focus {
  background: #fff;
  color: #f6f6f6;
}
.app-sidebar {
  width: 229px;
  overflow: auto;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: left 0.3s ease, width 0.3s ease;
  -o-transition: left 0.3s ease, width 0.3s ease;
  transition: left 0.3s ease, width 0.3s ease;
  transition: left 0.5s ease, width 0.5s ease;
  height: 100vh;
  float: right;
  overflow: hidden;
}
.app-sidebar::-webkit-scrollbar {
  width: 6px;
}
.app-sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.app-menu {
  margin-bottom: 0;
  margin-top: 33px;
}
.app-menu .app-menu__icon {
  margin-right: 20px;
}
.app-menu__item {
  position: relative;
  padding: 10px 10px;
  font-size: 16px;
  border-left: 5px solid transparent;
  -webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
  margin: 0 10px 4px 10px;
  border-radius: 4px;
  white-space: nowrap;
  word-break: keep-all;
  width: auto;
  display: block;
  color:rgb(11, 8, 39);
}
.app-menu__item .icons_blue, .app-menu__item .icons_white {
  margin-right: 15px;
  width: 25px;
}
.app-menu__item .icons_blue {
  display: inline-block;
}
.app-menu__item .icons_white {
  display: none;
}
.app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
  background: #25c8b5;
  text-decoration: none;
  color: #fff;
  outline: none;
}
.app-menu__item.active .icons_blue, .app-menu__item:hover .icons_blue, .app-menu__item:focus .icons_blue {
  display: none;
}
.app-menu__item.active .icons_white, .app-menu__item:hover .icons_white, .app-menu__item:focus .icons_white {
  display: inline-block;
}
.app-menu__item .icons_white {
  display: none;
}
a.app-menu__item img {
  vertical-align: middle;
}
.app-menu__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.app-menu__label {
  white-space: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 768px) {
  .sidebar-mini.sidenav-toggled .case_acknowlst_reports {
    padding: 45px 30px 0px 25px;
  }
  .sidebar_logo_img {
    display: none;
  }
  .mobile_toggle_right {
    display: none;
  }
  .app-nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .app-header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
  }
  .app_header_block {
    padding: 24px 0px;
  }
  .app_header_block a {
    margin-bottom: 15px;
  }
  .sidenav-toggled .footer_content {
    width: 100%;
    margin-left: 0;
  }
  .footer_content {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
  .sidenav-toggled .app-header {
    margin-left: 85px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user-name, .sidebar-mini.sidenav-toggled .app-sidebar__user-designation, .sidebar-mini.sidenav-toggled .treeview-indicator {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
    width: 30px;
    height: 30px;
  }
  .sidebar-mini.sidenav-toggled .app-content {
    margin-left: 70px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar {
    left: 70px;
    width: 15px;
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app-header__logo {
    left: 0;
    width: auto;
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app_logo {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__toggle {
    padding: 0;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item {
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover {
    overflow: visible;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover .app-menu__label {
    opacity: 1;
  }
  .sidebar-mini.sidenav-toggled .app-menu__item:hover + .treeview-menu {
    visibility: visible;
  }
  .sidebar-mini.sidenav-toggled .app-menu__label {
    display: block;
    position: absolute;
    top: 0;
    left: 66px;
    min-width: 180px;
    padding: 12px 5px 12px 20px;
    margin-left: -3px;
    line-height: 1;
    opacity: 0;
    background: bluebg;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__item {
    overflow: visible;
    background: #0d1214;
    border-left-color: #009688;
    color: #fff;
  }
  .sidebar-mini.sidenav-toggled .treeview:hover .app-menu__label {
    opacity: 1;
  }
  .sidebar-mini.sidenav-toggled .treeview:hover .treeview-menu {
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .sidebar-mini.sidenav-toggled .treeview .app-menu__label {
    border-bottom-right-radius: 0;
  }
  .sidebar-mini.sidenav-toggled .treeview-menu {
    position: absolute;
    left: 50px;
    min-width: 180px;
    padding: 12px 0;
    opacity: 0;
    border-bottom-right-radius: 4px;
    z-index: 9;
    visibility: hidden;
    -webkit-transition: visibility 0.3s ease;
    -o-transition: visibility 0.3s ease;
    transition: visibility 0.3s ease;
  }
  .sidebar-mini.sidenav-toggled header.app-header:before {
    margin-left: 0px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar .app-menu {
    left: 70px;
    width: 10px;
    overflow: hidden;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__toggle .toogle_left {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__toggle .toogle_right {
    display: inline-block;
  }
  .sidebar-mini .app-sidebar__toggle .toogle_right {
    display: none;
  }
  .sidebar_toggle_btn {
    margin-left: -23px;
    margin-top: -10px;
  }
}
.app-content {
  min-height: calc(100vh - 50px);
  padding: 70px 30px 50px 30px;
  background-color: #f5f5f5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
  overflow: hidden;
}
.app_title {
  font-size: 28px;
  font-weight: 500;
  display: block;
  color: #25c8b5;
}
.app_title span {
  font-size: 18px;
}
.app_title span a {
  color: #25c8b5;
}
.app_title span a:hover, .app_title span a:focus {
  color: #26b1a1;
}
/**** custome for leftside bar ****/
.footer_content{
  text-align: center;
  padding: 15px;
  border-top: 1px solid #e7e7e7;
  background: #f5f5f5;
}
.footer_content p {
  margin-bottom: 0px;
}
.left_Sidebar_Sec {
  position: fixed;
  top: 0;
}
.left_sidebar_Content {
  background: #25c8b5;
  float: left;
  width: 70px;
  height: 100vh;
  display: block;
  padding-top: 22px;
  position: relative;
}
.left_sidebar_Content img {
  margin: 0 auto;
  display: block;
}
.left_sidebar_Content .top_user {
  margin-top: 60px;
  text-align: center;
}
.left_sidebar_Content .top_user ul li {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 12px;
}
.left_sidebar_Content .top_user ul li a {
  border-radius: 10px;
  padding: 12px 12px;
  display: block;
  background: rgba(255, 255, 255, 0.25);
}
.left_sidebar_Content .top_user ul li a:hover, .left_sidebar_Content .top_user ul li a:focus img {
  opacity: 0.8;
}
.app-sidebar .app-sidebar_Heading {
  padding: 25px 0 0 19px;
  white-space: nowrap;
}
.app-sidebar .app-sidebar_Heading h4 {
  font-size: 24px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;

}
.app-sidebar .app-sidebar_Heading p {
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-nav-right {
  width: auto;
  margin-left: auto;
  display: inline-block;
}
.app-nav-right ul li {
  display: inline-block;
  margin-right: 22px;
}
.app-nav-right ul li:last-child {
  margin-right: 0px !important;
}
.app-nav-right .notifaction {
  position: relative;
}
.app-nav-right .notifaction .notication_circle {
  width: 16px;
  height: 17px;
  border-radius: 100%;
  line-height: 17px;
  font-size: 11px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: -8px;
  top: 6px;
  background-color: #25c8b5;
  color: #fff;
}
.visible_notification {
  overflow: hidden;
}
.visible_notification .layer_drop {
  opacity: 1;
  visibility: visible;
}
.visible_notification .notification_wrapper {
  right: 0px;
  opacity: 1;
  visibility: visible;
}
.visible_notification .notification_wrapper {
  visibility: visible;
}
.layer_drop {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(2, 16, 36, 0.45);
  visibility: hidden;
  z-index: 9999999;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.notification_wrapper {
  position: fixed;
  right: -400px;
  top: 0px;
  width: 530px;
  max-width: 100%;
  height: 100vh;
  z-index: 99999999;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background-color: #fff;
}
.notification_wrapper .notification_box {
  background-color: #fff;
  padding: 30px 0px 30px;
  height: 100vh;
}
.notification_wrapper .notification_box .cross_icon {
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
  color: #42526e;
  font-size: 15px;
}
.notification_list {
  background-color: #fff;
}
.notification_wrapper .notification_box .cross_icon:hover, .notification_wrapper .notification_box .cross_icon:focus img {
  opacity: 0.5;
}
.notification_wrapper .notification_box .title_notification {
  border-bottom: 3px solid #e9f1fe;
  padding: 0 22px;
}
.notification_wrapper .notification_box .title_notification h2 {
  font-size: 16px;
  font-weight: 600;
  color: #25c8b5;
  padding: 0 5px 13px 0;
  border-bottom: 3px solid #25c8b5;
  display: inline-block;
  margin-bottom: -3px;
}
.notification_list .notification_item {
  display: flex;
  align-items: center;
  padding: 15px 13px;
  border-bottom: 1px solid #f7f8fa;
  transition: background-color 0.3s ease;
  position: relative;
}
.notification_list .notification_item .notification_item_icon {
  display: none;
  flex: 0 0 2.5rem;
  align-items: center;
}
.notification_list .notification_item .notification_item_details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 0px;
}
.notification_list .notification_item .notification_item_details .notification_item-title {
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: 400;
  color: #595d6e;
  margin-left: 10px;
}
.notification_list .notification_item .notification_item_details .notification_item-time {
  font-size: 16px;
  font-weight: 300;
  color: #74788d;
  margin-left: 10px;
}
.notification_list .notification_item:after {
  border: 0;
  font: normal normal normal 14px/1 FontAwesome;
  text-transform: none;
  content: "\f105";
  font-size: 18px;
  line-height: 0;
  position: absolute;
  color: #74788d;
  right: 22px;
}
.notification_list .notification_item:hover {
  background: #eef0f1;
}
.notification_list .notification_item:hover .notification_item_details .notification_item-title {
  color: #25c8b5;
}
.audit_item:hover, .notifaction:hover {
  opacity: 0.5;
  transition: 0.3s ease-in-out 0.2s;
}
@media (max-width: 991px) {
  .app-content {
    padding: 85px 15px 30px 15px !important;
  }
  .footer_content {
    width: 100%;
    margin-left: 0px;
  }
  .mobile_toggle_right {
    display: block;
  }
  .app_header_block a {
    margin-bottom: 0px;
  }
  .app_header_block {
    padding: 0px;
  }
  .sidebar_logo_img {
    display: block;
    border-radius: 8px;
  }
  .mobile_toggle_right i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
    color: #42526e;
  }
  .mobile_toggle_right i:hover, .mobile_toggle_right i:focus {
    color: #25c8b5;
  }
  .app_title {
    padding-left: 10px;
  }
  .left_Sidebar_Sec {
    position: static;
  }
  .sidebar_toggle_btn {
    display: none;
  }
  .app-sidebar {
    float: left;
    position: static;
    height: 100vh;
  }
  .app-header {
    padding: 12px 15px;
    width: 100% !important;
    border-bottom: 1px solid #ccc;
  }
  .app-content {
    margin-left: 0px;
    padding: 0 15px;
  }
  .app_header_deshktop {
    display: none;
  }
  .left_sidebar_visible .layer-drop {
    opacity: 1;
    visibility: visible;
  }
  .layer-drop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(2, 16, 36, 0.45);
    visibility: hidden;
    z-index: 9999999;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .left_sidebar_visible .left_sidebar_wrapper {
    left: 0px;
    opacity: 1;
    visibility: visible;
  }
  .left_sidebar_wrapper {
    position: fixed;
    left: -400px;
    top: 0px;
    width: auto;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .left_sidebar_wrapper .cross-icon {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    background: #25c8b5;
    right: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    outline: none;
    z-index: 9;
  }
  .left_sidebar_wrapper .cross-icon:hover, .left_sidebar_wrapper .cross-icon:focus {
    background: #26b1a1;
  }
  .left_sidebar_wrapper {
    visibility: hidden;
  }
  .left_sidebar_visible .left_sidebar_wrapper {
    visibility: visible;
  }
  .top_heaer_right {
    transition: all 0.3s;
    position: relative;
    top: -7px;
  }
  .topheader_right_content {
    color: #000;
    width: 100%;
    padding: 10px 5px;
    text-align: right;
    margin: auto;
    display: none;
    position: fixed;
    left: 0;
    right: auto;
    top: 60px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding-right: 24px;
  }
  .left_sidebar_visible {
    overflow: hidden;
  }
  .app_title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .notification_wrapper {
    width: 400px;
  }
  .notification_list .notification_item {
    padding: 10px 10px;
  }
  .app_title span a {
    display: none;
  }
}
@media (max-width: 480px) {
  .app_title span {
    font-size: 12px;
  }
  .app_title {
    font-size: 14px;
  }
  .notification_wrapper {
    width: 310px;
  }
}
  

